{
code = 0;
content = "";
count = 8;
data =     (
{
"cate_category" = boy;
"cate_category_name" = "\U7537\U6027\U4e13\U573a";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13474/13474/1439459417157.jpg@720w_518h_1e_1c.webp";
channelId = 13474;
"follower_count" = 813;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 97;
recommend = 1;
subject = "\U65e0\U8089\U4e0d\U6b22";
},
{
background = "http://img.zhaoniwan.cn/channel/13476/13476/1439460302434.jpg@720w_518h_1e_1c.webp";
channelId = 13476;
"follower_count" = 628;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 43;
recommend = 1;
subject = "\U5b85\U7537\U628a\U59b9\U5fc5\U5907";
},
{
background = "http://img.zhaoniwan.cn/images/default/4.jpg@720w_518h_1e_1c.webp";
channelId = 13515;
"follower_count" = 400;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 13;
recommend = 0;
subject = "\U5979\U6765\U4e86\U5927\U59e8\U5988\U600e\U4e48\U529e";
}
);
hasmore = 1;
},
{
"cate_category" = girl;
"cate_category_name" = "\U5973\U6027\U4e13\U573a";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13546/13546/1441018648541.jpg@720w_518h_1e_1c.webp";
channelId = 13546;
"follower_count" = 2614;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 248;
recommend = 1;
subject = "\U96f6\U98df\U86cb\U7cd5\Uff0c\U5634\U4e0d\U505c\U3002";
},
{
background = "http://img.zhaoniwan.cn/channel/13471/13471/1439458701312.jpg@720w_518h_1e_1c.webp";
channelId = 13471;
"follower_count" = 1612;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 141;
recommend = 1;
subject = "\U5403\U51fa\U7f8e\U5bb9\U989c";
},
{
background = "http://img.zhaoniwan.cn/channel/13445/13445/1439458737752.jpg@720w_518h_1e_1c.webp";
channelId = 13445;
"follower_count" = 1369;
icon = "http://img.zhaoniwan.cn/channel/13445/13445/1438937087192.jpg@!avatar-m";
"moment_count" = 65;
recommend = 0;
subject = "\U5927\U59e8\U5988\U6765\U4e86\U8be5\U600e\U4e48\U5403";
}
);
hasmore = 1;
},
{
"cate_category" = couple;
"cate_category_name" = "\U60c5\U4fa3\U4e13\U573a";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13516/13516/1439796633692.jpg@720w_518h_1e_1c.webp";
channelId = 13516;
"follower_count" = 231;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 12;
recommend = 0;
subject = "\U4e03\U5915\U6652\U5e78\U798f";
}
);
hasmore = 0;
},
{
"cate_category" = travel;
"cate_category_name" = "\U65c5\U884c\U4e13\U573a";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13509/13509/1439549022799.jpg@720w_518h_1e_1c.webp";
channelId = 13509;
"follower_count" = 1481;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 46;
recommend = 1;
subject = "\U4e00\U57ce\U4e00\U5473";
},
{
background = "http://img.zhaoniwan.cn/channel/13504/13504/1439546473840.jpg@720w_518h_1e_1c.webp";
channelId = 13504;
"follower_count" = 289;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 24;
recommend = 1;
subject = "\U5317\U4eac\U4eba\U624d\U61c2\U7684\U7f8e\U98df";
},
{
background = "http://img.zhaoniwan.cn/channel/13503/13503/1439545469741.jpg@720w_518h_1e_1c.webp";
channelId = 13503;
"follower_count" = 218;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 19;
recommend = 1;
subject = "\U6211\U5728\U6c5f\U57ce\U5f88\U5b64\U5355";
}
);
hasmore = 1;
},
{
"cate_category" = official;
"cate_category_name" = "\U4e0a\U73ed\U65cf";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13466/13466/1439452531119.jpg@720w_518h_1e_1c.webp";
channelId = 13466;
"follower_count" = 878;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 240;
recommend = 1;
subject = "\U529e\U516c\U684c\U4e0a\U7684\U96f6\U98df";
},
{
background = "http://img.zhaoniwan.cn/channel/13541/13541/1440491635813.jpg@720w_518h_1e_1c.webp";
channelId = 13541;
"follower_count" = 312;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 33;
recommend = 0;
subject = "\U4e2d\U5348\U7684\U5de5\U4f5c\U9910";
},
{
background = "http://img.zhaoniwan.cn/channel/13539/13539/1440476497861.jpg@720w_518h_1e_1c.webp";
channelId = 13539;
"follower_count" = 174;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 27;
recommend = 0;
subject = "\U5de5\U4f5c\U9910\U5403\U4ec0\U4e48";
}
);
hasmore = 0;
},
{
"cate_category" = time;
"cate_category_name" = "\U65f6\U8282\U4e13\U573a";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13518/13518/1439895586831.jpg@720w_518h_1e_1c.webp";
channelId = 13518;
"follower_count" = 634;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 61;
recommend = 0;
subject = "\U5355\U8eab\U72d7\U60c5\U4eba\U8282";
},
{
background = "http://img.zhaoniwan.cn/images/default/4.jpg@720w_518h_1e_1c.webp";
channelId = 13522;
"follower_count" = 302;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 15;
recommend = 0;
subject = "\U6d88\U590f\U5976\U8336\U54ea\U91cc\U627e\Uff1f";
}
);
hasmore = 0;
},
{
"cate_category" = life;
"cate_category_name" = "\U751f\U6d3b\U4e13\U573a";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13498/13498/1439541700328.jpg@720w_518h_1e_1c.webp";
channelId = 13498;
"follower_count" = 670;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 4;
recommend = 1;
subject = "\U5973\U4ec6\U7684\U8bf1\U60d1";
},
{
background = "http://img.zhaoniwan.cn/channel/13506/13506/1439548192067.jpg@720w_518h_1e_1c.webp";
channelId = 13506;
"follower_count" = 668;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 20;
recommend = 1;
subject = "\U505a\U996d\U7684\U4f60\U6700\U7f8e/\U5e05";
},
{
background = "http://img.zhaoniwan.cn/channel/13467/13467/1439452966640.jpg@720w_518h_1e_1c.webp";
channelId = 13467;
"follower_count" = 317;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 54;
recommend = 1;
subject = "\U5582\U4e0d\U9971\U7684Ta";
}
);
hasmore = 1;
},
{
"cate_category" = others;
"cate_category_name" = "\U5176\U4ed6\U63a8\U8350";
channels =             (
{
background = "http://img.zhaoniwan.cn/channel/13423/13423/1439461423334.jpg@720w_518h_1e_1c.webp";
channelId = 13423;
"follower_count" = 3256;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 299;
recommend = 1;
subject = "\U4e00\U4e2a\U4eba\U7684\U65f6\U5019\U5403\U4ec0\U4e48";
},
{
background = "http://img.zhaoniwan.cn/channel/13464/13464/1439451978002.jpg@720w_518h_1e_1c.webp";
channelId = 13464;
"follower_count" = 1371;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 35;
recommend = 1;
subject = "\U5403\U51fa\U597d\U8eab\U6750";
},
{
background = "http://img.zhaoniwan.cn/channel/13507/13507/1439547933597.jpg@720w_518h_1e_1c.webp";
channelId = 13507;
"follower_count" = 206;
icon = "http://img.zhaoniwan.cn/images/channels/logo.png@160w_160h.png";
"moment_count" = 28;
recommend = 1;
subject = "\U732b\U4e0e\U5496\U5561";
}
);
hasmore = 1;
}
);
hasMore = 0;
message = "\U64cd\U4f5c\U6210\U529f";
useCache = 0;
}
